
/*--------------------------------------------------------------------------------------------------

   page on smart phone
         - header
         - content


--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 768px) {
  #login .container {
    width:100%;  
  }

  .container {
    width:100%;
  }

  .mar-top {
    margin-top:10px;
  }

  #page .content {
    margin-top: 80px;
    margin-bottom:20px;
  }

  #page .content h2 {
    width:100%;
  }

  #page .content ul {
    width:100%;
  }
  
  #page .content h3 {
    padding-top:10px;
    padding-bottom:20px;
  }
  
  .content-page .table .col-title {
    width: 25%;
  }

  .form-control--small {
    width:100px;
  }
  
  #login .content-login label {
    text-align:left;
  }

  .content-page .table input[type="text"],.content-page .table select,.content-page .table textarea {
    width: 100%;
  }
  
}



